# Database files
*.db
*.backup
personal_financial_manager_backup.db

# Python bytecode
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venvPython12/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test cache
.pytest_cache/
.coverage
htmlcov/

# Debugging code
try.py
create_tree.py
project_files.zip
create_code_zip.py
ai_pack.cmd
project_files

# Temp files
*.json
*.txt
!requirements.txt
!structure.txt

#git
.git*
.gitignore